<div class="homepage">
  <div class="container text-center">
    <h1 class="header">Raddest Guy I Know</h1>

    <h3>Coming soon!</h3>

    <h4>In the meantime find us on instagram here: <a href="https://www.instagram.com/raddestguyiknow/">@raddestguyiknow</a></h4>

    <%= react_component("HelloWorld", { greeting: "Brraaaaahh!" }) %>

  </div>
</div>