<div class="container">
    <h1>Raddest Guy I Know</h1>

    <%= react_component("HelloWorld", { greeting: "Hello from react-rails. Colin, it's time to build something sweet" }) %>

    <%= link_to "Create new Rad Guy", new_rad_guy_path, class: 'btn btn-primary btn-lg' %>
</div>